/Costco.class
/Dollarama.class
/Walmart.class
/WholesaleClub.class
/classMain.class
/onlineSearch.class
/Dollarama$Costco$WholesaleClub.class
/Dollarama$Costco$classMain.class
/Dollarama$Costco.class
